@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@100&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

:root {
    --header-font: 'Michroma', sans-serif;;
    --subheader-font: 'Roboto', sans-serif;
    --main-font: Arial, Helvetica, sans-serif;
    --section-font: 'Raleway', sans-serif;
    --main-text-color: rgb(244, 244, 244);
    --main-font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: black;
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
}

body, html {
    height: 100%;
}

::placeholder {
    color: var(--main-text-color);
    font-size: 0.8em;
    font-family: var(--main-font);
    padding-left: 1%;
  }

@media (max-width: 768px) {
   
    ul.menu-items {
        display: none;
    }
}

footer p {
    font-size: 0.8em;
}

@media (min-width: 769px) {    

    .burger-icon {
        display: none;
    }

}

#burger-checkbox {
    display: none;
}

ul {
    list-style-type: none;
}

a  {
    text-decoration: none;
    color:  var(--main-text-color);
}

a:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

button {
    font-family: var(--section-font);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
} 

button.scroll {
    display: none;
}
