.collections-slider-container {
    display: flex;
    width: 80%;
    margin: auto;
}  

.carousel-indicators {
    margin-bottom: 0;
}

section h3 {
        font-size: 2rem;
        font-family: var(--section-font);
        text-align: center;
}

h4 {
    font-size: 1.3rem;
    font-family: var(--section-font);
    font-weight: bolder;
}

nav .logo {
    width: 50%;
}

@media (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
    }

    .logo img {
        width: 100%;
    }

    nav .menu-items {
        display: flex;
        flex-direction: column; 
        font-size: 0.8rem;
        width: 50%;
        padding: 20px 10px 0 0;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1;
    }

    .social-accounts {
        display: flex;
        align-items: flex-end;
        margin-right: -5px;
        order: 1;
    }

    .social-accounts img {
        height: 20px;
    }

    header {
        background-image: url("../img/background_home.jpg");
        background-size: cover;
        background-position: 40% 50%;
        width: 100%;
    }

    .banner {
        align-items: center;
        min-height: 600px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: auto;
        padding-bottom: 20px;
    }

    header .banner h1 {
        font-size: 1.5rem;
        font-family: var(--header-font);
        padding-bottom: 20px;
        font-weight: lighter;
        letter-spacing: 5px;
        order: -1;
    }

    header .banner h2 {
        font-size: 1.3rem;
        font-family: var(--subheader-font);
        padding-left: 5px;
        letter-spacing: 4px;
        font-weight: lighter;
        text-align: center;
    }

    .button-container {
        margin-top: 40px;
        width:100%;
        display: flex;
        justify-content: center;
    }

    section h3 {
        margin-top: 10%;
        padding: 30px 0 20px 0;
    }

    .slider-article {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        padding-bottom: 3%;
    } 

    .slider-article img {
        width: 300px;
        margin-bottom: 20px;
    }

    .slider-article .collection-info {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    } 

    .slider-article p {
        display: none;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    #about-us p {
        text-align: center;
        padding: 20px;
    }

    section#contacts {
        margin: auto;
    }

    .contact-info {
        text-align: left;
        margin-left: auto;
    }

    ul.social-accounts {
        padding-left: 0;
    }

    #google-map {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (min-width: 769px) { 

    nav {
        display: flex;
        padding: 20px 30px 20px 30px;
        flex-direction: row;
    }

    .logo img {
        max-width: 250px;
        max-height: 90px;
        justify-content: flex-start;
    }

    nav .menu-items {
        display: flex; 
        font-size: 0.8rem;
        width: 50%;
        justify-content: space-around;
        padding-top: 40px;
        flex: 1;
        align-items: center;
    }

    nav ul .social-accounts {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .social-accounts img {
        height: 20px;
        margin: 5px;
    }

    header {
        background-image: url("../img/background_home.jpg");
        background-size: cover;
        background-position: center;
        min-height: 600px;
    }

    .banner {
        align-items: flex-start;
        min-height: 550px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-left: 40px;
        padding-bottom: 50px;
    }

    header .banner h1 {
        font-size: 4.5rem;
        font-family: var(--header-font);
        padding-bottom: 40px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    header .banner h2 {
        font-size: 2.2rem;
        font-family: var(--subheader-font);
        padding-left: 5px;
        letter-spacing: 4px;
        font-weight: lighter;
    }

    .button-container {
        width:100%;
        display: flex;
        justify-content: center;
    }

    section {
        margin-top: 5%;
    }

    section h3 {
        margin: 20px 0 20px 0;
        padding: 30px 0 20px 0;
    }

    h4 {
        text-decoration: underline;
    }

    .slider-article {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slider-article img {
        width: 300px;
    }

    .slider-article .collection-info {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .collection-info p {
        text-align: center;
        padding: 0 10% 0 10%;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #about-us p {
        padding: 20px 50px 20px 50px;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
    }

    .contact-us {
        width: 50%;
    }

    .contact-us h3 {
        padding-top: 0;
    }

    .contact-us-form {
        width: 50%;
        padding-top: 20px;
    }

    .contact-us .social-accounts {
        display: flex;
        padding-left: 0;
        flex-direction: row;
    }

    iframe {
        margin-top: 10%;
    }
}


