    .collections-slider-container {
        display: flex;
        width: 80%;
        margin: auto;
    }  
    
    .carousel-indicators {
        margin-bottom: 0;
    }
    
    section h3 {
            font-size: 2rem;
            font-family: var(--section-font);
            text-align: center;
    }
    
    h4 {
        font-size: 1.3rem;
        font-family: var(--section-font);
        font-weight: bolder;
    }
   
    
    .contact-us-form input, form#subscribe input  {
        width: 100%;
        margin-bottom:1%;
        background-color: black;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 0.5px;
    }
    
    .contact-us-form textarea {
        width: 100%;
        margin-bottom:1%;
        background-color: black;
        border-width: 0.5px;
        border-color: rgb(255, 255, 255);
    }
    
    .contact-us-form label {
        width: 100%;
    }
    
    iframe {
        margin-top: 5%;
        width: 100%;
    }
    
    form#subscribe {
        width: 90%;
        margin-top: 1.5%;
    }
    
 @media (max-width: 768px) {
/* NAVIGATION BAR and MENU*/

    nav {
            display: flex;
            flex-direction: row;
            height: 100px;
            opacity: 1;
            transition: opacity 0.8s;
    }

    .fade-out {
        opacity: 0;
    }
    
    nav .logo img {
        position: fixed;
        width: 180px;
        top: 10px;
        left: 20px;
    }

    nav .menu-items {   
        display: block;
        position: fixed;
        background-color: rgb(0, 0, 0, 0.5);
        top: 70px;
        right: -300px;
        text-align: right;
        font-size: 1rem;
        width: 30%;
        padding: 10px 20px 10px 0;
        transition: right .8s cubic-bezier(1, 0, 0, 1);
    }

    .menu-items.active {
        right: 0;
    }

    /*Hamburger menu*/
    .mobile-nav .hamburger-icon {
        width: 35px;
        height: 30px;
        position: fixed;
        cursor: pointer;
        top: 30px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 20%;
        transition: all 0.3s;
    }

    .active .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .active .line-2 {
        opacity: 0;
    }

    .active .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }  

    nav .menu-items .shopping-bag {
        display: none;
    } 

    .mobile-nav .cart {
        position: fixed;
        top: 27px;
        right: 70px;
        width: 35px;
    }

    nav .menu-items .social-accounts {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        order: 1;
        margin-right: -5px;
        margin-top: 5px;
    }

    .social-accounts img {
        height: 20px;
    }
    /*THE END OF NAV BAR and MENU*/

    header {
        background-image: url("../img/background-home.jpg");
        background-size: cover;
        background-position: 40% 50%;
        width: 100%;
    }

    .banner {
        align-items: center;
        min-height: 600px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: auto;
        padding-bottom: 20px;
    }

    header .banner h1 {
        font-size: 1.5rem;
        font-family: var(--header-font);
        padding-bottom: 20px;
        font-weight: lighter;
        letter-spacing: 5px;
        order: -1;
    }

    header .banner h2 {
        font-size: 1.3rem;
        font-family: var(--subheader-font);
        padding-left: 5px;
        letter-spacing: 4px;
        font-weight: lighter;
        text-align: center;
    }

    .button-container {
        margin-top: 40px;
        width:100%;
        display: flex;
        justify-content: center;
    }

    section h3 {
        margin-top: 10%;
        padding: 30px 0 20px 0;
    }

    .slider-article {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        padding-bottom: 3%;
    } 

    .slider-article img {
        width: 300px;
        margin-bottom: 20px;
    }

    .slider-article .collection-info {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    } 

    .slider-article p {
        display: none;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    #about-us p {
        text-align: center;
        padding: 20px;
    }

    section#contacts {
        margin: auto;
        width: 90%;
    }

    .contact-us p {
        margin-bottom: 0;
    }

    .contact-us-form label {
        width: 100%;
        margin-top:0;
    }

    .contact-info {
        text-align: left;
        margin-left: auto;
    }

    .contact-us .social-accounts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 0;
    }
    
    ul.social-accounts {
        padding-left: 0;
    }

    footer label {
        width: 100%;
    }
}

@media (min-width: 769px) { 

    /*NAVIGATION BAR and MENU*/

    nav {
        display: flex;
        padding: 20px 30px 20px 30px;
        flex-direction: row;
    }

    nav .logo {
        width: 50%;
    }    

    .logo img {
        max-width: 250px;
        max-height: 90px;
        justify-content: flex-start;
    }

    nav .menu-items {
        display: flex; 
        font-size: 0.8rem;
        width: 50%;
        justify-content: space-around;
        padding-top: 40px;
        flex: 1;
        align-items: center;
    }

    nav ul .social-accounts {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .social-accounts img {
        height: 20px;
        margin: 2px;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav-menu-wrap .menu-items {
        display: none;
    }
    /*THE END OF NAVIGATION BAR and MENU*/

    header {
        background-image: url("../img/background-home.jpg");
        background-size: cover;
        background-position: center;
        min-height: 600px;
    }

    .banner {
        align-items: flex-start;
        min-height: 550px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-left: 40px;
        padding-bottom: 50px;
    }

    header .banner h1 {
        font-size: 4.5rem;
        font-family: var(--header-font);
        padding-bottom: 40px;
        font-weight: lighter;
        letter-spacing: 5px;
    }

    header .banner h2 {
        font-size: 2.2rem;
        font-family: var(--subheader-font);
        padding-left: 5px;
        letter-spacing: 4px;
        font-weight: lighter;
    }

    .button-container {
        width:100%;
        display: flex;
        justify-content: center;
    }

    section {
        margin-top: 5%;
    }

    section h3 {
        margin: 20px 0 20px 0;
        padding: 30px 0 20px 0;
    }

    h4 {
        text-decoration: underline;
    }

    .slider-article {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slider-article img {
        width: 300px;
    }

    .slider-article .collection-info {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .collection-info p {
        text-align: center;
        padding: 0 10% 0 10%;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    #about-us p {
        padding: 20px 0 20px 0;
    }

    section#contacts {
        margin: auto;
        width: 90%;
    }

    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        margin-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .contact-us p, a{
        padding-left: 5px;
    }

    .contact-us h3 {
        padding-top: 0;
    }

    .contact-us-form {
        padding-top: 20px;
    }

    .contact-us .social-accounts {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-left: 0;
    }

    iframe {
        grid-column-start: span 2;
        margin-top: 5%;
        height: 300px;
        width: 200%;
    }

    form#subscribe {
        width: 300px;
    }

    form#subscribe input, label {
        width: 100%;
    }
    

@media (min-width: 1024px) { 

    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
}
}




