button.scroll {
    display: none;
}

/*PRODUCT CONTAINER*/
button.add-to-cart.btn {
    border-radius: 25px;
    width: 100%;
}

.card {
    background-color:black;
    border: 1px solid rgb(255 255 255 / 13%);
    max-width: 18rem;
}

h4 {
    font-size: 1rem;
    font-family: var(--section-font);
    font-weight: bolder;
}

.card-text {
    font-weight: lighter;
    font-size: smaller;
}


.container#product-list .col {
    margin-top: 3%; 
}

/*SUBSCRIBE FORM*/
iframe {
    margin-top: 5%;
    width: 100%;
}

form#subscribe {
    width: 90%;
    margin-top: 1.5%;
}

form#subscribe input  {
    width: 100%;
    margin-bottom:1%;
    background-color: black;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
}

@media (max-width: 768px) {
    /* NAVIGATION BAR and MENU*/
    nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        height: 100px;
    }

    nav .logo img {
        position: fixed;
        width: 180px;
        top: 10px;
        left: 20px;
    }

    nav .menu-items {   
        display: block;
        position: fixed;
        background-color: rgb(0, 0, 0, 0.5);
        top: 70px;
        right: -300px;
        text-align: right;
        font-size: 0.8rem;
        width: 20%;
        padding: 10px 20px 10px 0;
        transition: right .8s cubic-bezier(1, 0, 0, 1);
    }

    .menu-items.active {
        right: 0;
    }

    /*HAMBURGER MENU*/
    .mobile-nav .hamburger-icon {
        width: 35px;
        height: 30px;
        position: fixed;
        cursor: pointer;
        top: 30px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 20%;
        transition: all 0.3s;
    }

    .active .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .active .line-2 {
        opacity: 0;
    }

    .active .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }  

    nav .menu-items .shopping-bag {
        display: none;
    } 

    .mobile-nav .cart {
        position: fixed;
        top: 27px;
        right: 70px;
        width: 35px;
    }

    nav .menu-items .social-accounts {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        order: 1;
        margin-right: -5px;
        margin-top: 5px;
    }

    .social-accounts img {
        height: 20px;
    }
    /*PRODUCT LIST*/

    .container#product-list {
        margin-top: auto;
    }
    .product-list {
        display: flex;
    }

    .sorting {
        display: block;
        height: 20px;
    }

    .button-container {
        margin-top: 40px;
        width:100%;
        display: flex;
        justify-content: center;
    }

    footer label {
        width: 100%;
    }
}

@media (min-width: 769px) { 
    /*NAV BAR and MENU*/
    nav {
        display: flex;
        padding: 20px 30px 20px 30px;
        flex-direction: row;
    }

    nav .logo {
        width: 50%;
    }

    .logo img {
        width: 250px;
        height: 90px;
        justify-content: flex-start;
    }

    nav .menu-items {
        display: flex; 
        font-size: 0.8rem;
        width: 50%;
        justify-content: space-around;
        padding-top: 40px;
        flex: 1;
        align-items: center;
    }

    ul .social-accounts {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .social-accounts img {
        height: 20px;
        margin: 5px;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav-menu-wrap .menu-items {
        display: none;
    }
    /*SUBSCRIBE FORM*/

    form#subscribe {
        width: 300px;
    }

    form#subscribe input, label {
        width: 100%;
    }

    iframe {
        grid-column-start: span 2;
        margin-top: 5%;
        height: 300px;
        width: 200%;
    }
}

@media (min-width: 1024px) { 

    h4 {
        font-size: 1rem;
    }
    
    .container .product-list {
        width: 90%;
        margin: auto;
    }
}